/* --------------------------------------------- Шапка --------------------------------------------- */
.header-logo {
  font-family: "Raleway", sens-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19px;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}
.span-header-logo {
  font-family: "Raleway", sens-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19px;
  letter-spacing: 0.03em;
  color: black;
}
.header-list {
  list-style: none;
}
.link {
  text-decoration: none;
  font-family: "Roboto", sens-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  color: black;
}
.link:hover {
  color: #2196f3;
}
.link:focus {
  color: #2196f3;
}
.header-adress {
  list-style: none;
}
.header-adress-link {
  text-decoration: none;
  font-family: "Roboto", sens-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  color: #757575;
}
.header-adress-link:hover {
  color: #2196f3;
}
.header-adress-link:focus {
  color: #2196f3;
}
.current {
  color: #2196f3;
}
/* --------------------------------------------- Герой --------------------------------------------- */
.hero {
  background-color: #2f303a;
}
.hero-h-one {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36em;
  /* text-align: center; */
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: #2196f3;
  cursor: pointer;
}
.btn {
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: ##212121;
  background: ##f5f4fa;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: #f5f4fa;
}
.btn:hover {
  background-color: #2196f3;
  border-color: #2196f3;
  color: #ffffff;
}
.btn:focus {
  background-color: #2196f3;
  border-color: #2196f3;
  color: #ffffff;
}
/* --------------------------------------------- Чому ми? --------------------------------------------- */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.advantages-list {
  list-style: none;
}
.advantages-h-three {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.advantages-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
/* --------------------------------------------- Чим ми займаємося --------------------------------------------- */
.about-list {
  list-style: none;
}
.about-h-two {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: #212121;
}
/* --------------------------------------------- Команда --------------------------------------------- */
.team {
  background: #f5f4fa;
}
.team-list {
  list-style: none;
}
.team-item {
  background: #ffffff;
}
.team-h-two {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: #212121;
}
.team-h-three {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.team-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575;
}
/* --------------------------------------------- Укриття --------------------------------------------- */
.footer {
  background-color: #2f303a;
}
.footer-logo {
  font-family: "Raleway", sens-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}
.span-footer-logo {
  color: white;
}
.footer-list {
  list-style: none;
}
.map {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.map:hover {
  color: #2196f3;
}
.footer-adress-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-adress-link:hover {
  color: #2196f3;
}
/* --------------------------------------------- Страница Портфолио --------------------------------------------- */
.works {
}
.works-list {
  list-style: none;
}
.works-h-two {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
a {
  text-decoration: none;
}
.works-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
